exportPattern("^[[:alpha:]]+")

import(ggplot2)
importFrom(plotly,ggplotly)
importFrom(plotly,renderPlotly)
importFrom(plotly,style)
importFrom(plotly,plotlyOutput)
importFrom(plotly,plot_ly)
importFrom(plotly,add_trace)

importFrom(DT,JS)
importFrom(DT,datatable)
importFrom(DT,renderDT)
importFrom(DT,formatRound)
importFrom(DT,DTOutput)
import(shiny)
import(dplyr)
import(shinydashboard)
import(shinythemes)
